<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="javascript" type="text/javascript">
        function findReaderClick(){
            var url = "/librarian/check-profile/" + document.getElementById("email").value;
            window.location = url;
        }
    </script>
</head>
<body>
<span th:if="${message}" th:text="${message}"></span>
<h1>Check profile</h1>
<label for="email">Reader email</label>
<input id = "email" type="email">
<input type="button" value="Find reader" OnClick="findReaderClick()"/>


<div id="reader_details_container" th:if="${reader}" th:object="${reader}">

    <br>Rent book<br>
    <div id="rent_book_from_id">
        <form th:action="@{~/librarian/check-profile/{email}/rent-book(email=${reader.getUser().getUsername()})}" th:object="${inputBookId}" method="post">
            <div>
                <input th:field="*{id}" th:value="${inputBookId.getId()}"/>
                <p th:each="error: ${#fields.errors('id')}"
                   th:text="${error}">Validation error</p>
            </div>
            <button type="submit">Rent</button>
        </form>
    </div>

    <div id="details">
        <h3>Reader details</h3>
        <p th:text="${reader.getId()}"></p>
        <p id="remail" th:text="${reader.getContactInformation().getEmail()}" th:value="${reader.getContactInformation().getEmail()}"></p>
        <p th:text="${reader.getFirstName()}"></p>
        <p th:text="${reader.getLastName()}"></p>
        <p th:text="${reader.getGender().name()}"></p>
        <p th:text="${reader.getContactInformation().getTelephoneNumber()}"></p>
    </div>

    <br>Rentals<br>
    <div id="rentals" th:if="${reader.getRentals() != null}">
        <tr th:each="rental : ${reader.getRentals()}">
            <td th:text="${rental.getBook().getBookDetails().getTitle()}"></td>
            <td th:text="${rental.getFromDate()}"></td>
            <td th:if="${!rental.isFinished()}" >
                <form th:action="@{~/librarian/check-profile/{email}/return-book/{id}(email=${reader.getUser().getUsername()}, id=${rental.getId()})}" method="post">
                    <button type="submit">Return book</button>
                </form>
            </td>
        </tr>
    </div>

    <br>Reservations<br>
    <div id="reservations" th:if="${reader.getReservations() != null}">
        <tr th:each="reservation : ${reader.getReservations()}">
            <td th:text="${reservation.getBook().getBookDetails().getTitle()}"></td>
            <td th:text="${reservation.getToDate()}"></td>
            <td>
                <form th:action="@{~/librarian/check-profile/{email}/accept-reservation/{id}(email=${reader.getUser().getUsername()}, id=${reservation.getId()})}" method="post">
                    <button type="submit">Rent</button>
                </form>
            </td>
        </tr>
    </div>
</div>

</body>
</html>