<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="javascript" type="text/javascript">
        function buttonClick(){
            var url = "/librarian/check-profile?email=" + document.getElementById("email").value;
            window.location = url;
        }
    </script>
</head>
<body>
<span th:if="${message}" th:text="${message}"></span>
<h1>Check profile</h1>
<label for="email">Reader email</label>
<input id = "email" type="email">
<input type="button" value="Find reader" OnClick="buttonClick()"/>


<div id="reader_details_container" th:if="${reader}" th:object="${reader}">
    <h3>Reader details</h3>
    <p th:text="${reader.getId()}"></p>
    <p th:text="${reader.getContactInformation().getEmail()}"></p>
    <p th:text="${reader.getFirstName()}"></p>
    <p th:text="${reader.getLastName()}"></p>
    <p th:text="${reader.getGender().name()}"></p>
    <p th:text="${reader.getContactInformation().getTelephoneNumber()}"></p>
</div>
<div id="reader_rentals"></div>

<div id="reader_reservations" th:if="${reader != null and reader.getReservations() != null}">
    <tr th:each="reservation : ${reader.getReservations()}">
        <td th:text="${reservation.getBook().getBookDetails().getTitle()}"></td>
        <td th:text="${reservation.getToDate()}"></td>
        <td>
            <form th:action="@{~/librarian/check-profile?email={e}/accept-reservation(id=${reservation.getId()}, e=${reader.getUser().getUsername()})}" method="post">
                <button type="submit">Rent</button>
            </form>
        </td>
    </tr>
</div>
</body>
</html>