#check_profile_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    padding: 50px;
}

#reader_details_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#rent_book {
    width: auto;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

h2 {
    font-family: "DejaVu Sans Light";
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin: 30px;
}

#details > p {
    font-family: "DejaVu Sans Mono";
    font-size: large;
    font-style: italic;
    text-align: center;
}

th {
    text-align: center;
}

td {
    text-align: center;
    padding: 15px;
}