#check_profile_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    padding: 50px;
}

#reader_details_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#rent_book {
    width: auto;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

#details > p {
    font-family: "DejaVu Sans Mono";
    font-size: large;
    font-style: italic;
    text-align: center;
}

#suggested_book_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#suggested_book_title {
    text-align: center;
    font-size: large;
    font-family: "DejaVu Sans Mono";
    font-weight: lighter;
    font-style: italic;
}

#suggested_book_button {
    text-align: center;
    font-size: large;
    font-family: "DejaVu Sans Mono";
    font-weight: bold;
}