<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<span th:if="${message}" th:text="${message}"></span>
<div id="book_details_container" th:object="${bookDetails}">
    Title
    <span th:text="${bookDetails.getTitle()}"></span>
    Genre
    <span th:text="${bookDetails.getGenre()}"></span>
    Publisher
    <span th:text="${bookDetails.getPublisher()}"></span>
</div>
<div id="books_container">
    <table>
        <tr>
            <th>Status</th>
        </tr>
        <tr th:each ="book : ${books}">
            <td th:text="${book.getBookStatus().name()}"/>
            <td th:if="${book.getBookStatus().name() == 'AVAILABLE'}">
                <form th:action="@{~/reader/reservebook(bookId=${book.getId()})}" method="post">
                    <button type="submit">Reserve</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>