<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Rent book</h1>
    <form action="/librarian/rent-book" th:object="${rental}" method="POST" enctype="utf8">
        <div>
            <input th:field="*{bookId}" th:value="${rental.getBookId()}"/>
            <p th:each="error: ${#fields.errors('bookId')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <input th:field="*{userEmail}" th:value="${user.getUserEmail()}"/>
            <p th:each="error : ${#fields.errors('userEmail')}"
               th:text="${error}">Validation error</p>
        </div>
        <button type="submit">Make rental</button>
    </form>
</body>
</html>