<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container-fluid">
    <div class="container">
        <h2>Search</h2>
        <form action="/reader/search" th:object="${bookDetails}" method="POST" enctype="utf8">
            <div>
                <input th:field="*{title}" th:value="${bookDetails.getTitle()}"/>
                <p th:each="error: ${#fields.errors('title')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div>
                <input th:field="*{genre}" th:value="${bookDetails.getGenre()}"/>
                <p th:each="error : ${#fields.errors('genre')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div>
                <input th:field="*{publisher}" th:value="${bookDetails.getPublisher()}"/>
                <p th:each="error : ${#fields.errors('publisher')}"
                   th:text="${error}">Validation error</p>
            </div>
            <button type="submit">Search</button>
        </form>
    </div>
</div>

<div class="container" th:if="${results == null or !results.isEmpty()}">
    <table>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Publisher</th>
        </tr>
        <tr th:each="bD : ${results}">
            <td th:text="${bD.getTitle()}"/>
            <td th:text="${bD.getGenre()}"/>
            <td th:text="${bD.getPublisher()}"/>
            <td><a th:href="@{~/reader/bookdetails(id=${bD.getId()})}">Details</a></td>
        </tr>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>